<div class="alert alert-info text-center my-5">
  <div class="container text-center my-5">
    <h1 class="display-4">Bienvenido a Angular18 y Bootstrap</h1>
    <p class="lead">Esta es una simple aplicacion que guarda clientes en el alamacenamiento local.</p>
    <hr class="my-4">
    <p>Puede navegar a las paginas siguientes desde aqui:</p>
    <a class="btn btn-primary btn-lg me-2" routerLink="/products" role="button">Productos Carrusel</a>
    <a class="btn btn-success btn-lg " routerLink="/cart" role="button">Base de Datos CRUD</a>
</div>
</div>



<!-- Carousel -->
<div id="welcomeCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- para las imagenes tienen que tener todo los datos no simplemente el URL-->
      <img src="https://images.pexels.com/photos/7627168/pexels-photo-7627168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100 carousel-image" alt="Welcome to Angular">
      <div class="carousel-caption d-none d-md-block">
        <h5>Bienvenido</h5>
        <p>Angular y Bootstrap</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/4577696/pexels-photo-4577696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100 carousel-image" alt="Building with Bootstrap">
      <div class="carousel-caption d-none d-md-block">
        <h5>Estas Aqui</h5>
        <p>Estilos interactivos</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/18252228/pexels-photo-18252228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100 carousel-image" alt="Storing Data Locally">
      <div class="carousel-caption d-none d-md-block">
        <h5>Trabaja desde cualquier lugar</h5>
        <p>Software y Technologia</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#welcomeCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#welcomeCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

